* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Droid Serif", "Helvetica Neue", sans-serif;
  color: #333; }

header, footer, main, section, aside {
  display: block; }

h1 {
  font-size: 1.5em;
  margin: 0 0 1em; }

h2 {
  font-size: 1.125em;
  margin: 2em 0 1em;
  color: #666; }

li {
  font-family: sans-serif; }
  li code {
    font-size: 1.25em;
    color: black; }

.example-content,
footer {
  width: 100%;
  max-width: 64em;
  margin: 0 auto; }

.example-content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1; }

.example-grid-wrapper {
  margin-bottom: 2em;
  padding: 1em;
  background-color: #f4f4f4; }

footer {
  padding: 1em;
  background-color: black; }

[class^="column"],
[class^="media-column"],
[class^="offset"] {
  background-color: #40dfcb;
  border: 1px solid #f4f4f4;
  text-align: center;
  font-family: monospace;
  word-wrap: break-word;
  /* Oh Firefox */ }

[class^="grid"],
[class^="grid"] + [class^="grid"] {
  margin-bottom: 1rem; }

[class^="grid"] [class^="grid"] {
  margin-bottom: 0; }
