.grid-row {
  margin-right: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.grid-column {
  margin-right: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.grid-padding {
  padding: 1rem; }

.row-reverse {
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-lines: row-reverse;
  -moz-box-lines: row-reverse;
  -ms-flex-wrap: row-reverse;
  -webkit-flex-wrap: row-reverse;
  flex-wrap: row-reverse; }

.column-reverse {
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-lines: column-reverse;
  -moz-box-lines: column-reverse;
  -ms-flex-wrap: column-reverse;
  -webkit-flex-wrap: column-reverse;
  flex-wrap: column-reverse; }

[class^="column"],
[class^="offset"] {
  margin-right: 0px; }

.column-auto-sm,
.column-auto-md,
.column-auto-lg,
.column-auto-xl {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0%;
  flex-basis: 0%; }

.sticky-footer-push {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.column-1-sm {
  -ms-flex-preferred-size: 8.33333%;
  -webkit-flex-basis: calc(8.33333% - 0px);
  flex-basis: calc(8.33333% - 0px); }

.column-2-sm {
  -ms-flex-preferred-size: 16.66667%;
  -webkit-flex-basis: calc(16.66667% - 0px);
  flex-basis: calc(16.66667% - 0px); }

.column-3-sm {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: calc(25% - 0px);
  flex-basis: calc(25% - 0px); }

.column-4-sm {
  -ms-flex-preferred-size: 33.33333%;
  -webkit-flex-basis: calc(33.33333% - 0px);
  flex-basis: calc(33.33333% - 0px); }

.column-5-sm {
  -ms-flex-preferred-size: 41.66667%;
  -webkit-flex-basis: calc(41.66667% - 0px);
  flex-basis: calc(41.66667% - 0px); }

.column-6-sm {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: calc(50% - 0px);
  flex-basis: calc(50% - 0px); }

.column-7-sm {
  -ms-flex-preferred-size: 58.33333%;
  -webkit-flex-basis: calc(58.33333% - 0px);
  flex-basis: calc(58.33333% - 0px); }

.column-8-sm {
  -ms-flex-preferred-size: 66.66667%;
  -webkit-flex-basis: calc(66.66667% - 0px);
  flex-basis: calc(66.66667% - 0px); }

.column-9-sm {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: calc(75% - 0px);
  flex-basis: calc(75% - 0px); }

.column-10-sm {
  -ms-flex-preferred-size: 83.33333%;
  -webkit-flex-basis: calc(83.33333% - 0px);
  flex-basis: calc(83.33333% - 0px); }

.column-11-sm {
  -ms-flex-preferred-size: 91.66667%;
  -webkit-flex-basis: calc(91.66667% - 0px);
  flex-basis: calc(91.66667% - 0px); }

.column-12-sm {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: calc(100% - 0px);
  flex-basis: calc(100% - 0px); }

.offset-1-sm {
  margin-left: calc(8.33333% + 0px); }

.offset-2-sm {
  margin-left: calc(16.66667% + 0px); }

.offset-3-sm {
  margin-left: calc(25% + 0px); }

.offset-4-sm {
  margin-left: calc(33.33333% + 0px); }

.offset-5-sm {
  margin-left: calc(41.66667% + 0px); }

.offset-6-sm {
  margin-left: calc(50% + 0px); }

.offset-7-sm {
  margin-left: calc(58.33333% + 0px); }

.offset-8-sm {
  margin-left: calc(66.66667% + 0px); }

.offset-9-sm {
  margin-left: calc(75% + 0px); }

.offset-10-sm {
  margin-left: calc(83.33333% + 0px); }

.offset-11-sm {
  margin-left: calc(91.66667% + 0px); }

.justify-flex-start-sm {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.justify-center-sm {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }

.justify-flex-end-sm {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.justify-space-around-sm {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.justify-space-between-sm {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.align-flex-start-sm {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.align-center-sm {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.align-flex-end-sm {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end; }

.column-auto-sm {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1; }

.order-first-sm {
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1; }

.order-last-sm {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1; }

@media only screen and (min-width: 48em) {
  .column-1-md {
    -ms-flex-preferred-size: 8.33333%;
    -webkit-flex-basis: calc(8.33333% - 0px);
    flex-basis: calc(8.33333% - 0px); }

  .column-2-md {
    -ms-flex-preferred-size: 16.66667%;
    -webkit-flex-basis: calc(16.66667% - 0px);
    flex-basis: calc(16.66667% - 0px); }

  .column-3-md {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: calc(25% - 0px);
    flex-basis: calc(25% - 0px); }

  .column-4-md {
    -ms-flex-preferred-size: 33.33333%;
    -webkit-flex-basis: calc(33.33333% - 0px);
    flex-basis: calc(33.33333% - 0px); }

  .column-5-md {
    -ms-flex-preferred-size: 41.66667%;
    -webkit-flex-basis: calc(41.66667% - 0px);
    flex-basis: calc(41.66667% - 0px); }

  .column-6-md {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: calc(50% - 0px);
    flex-basis: calc(50% - 0px); }

  .column-7-md {
    -ms-flex-preferred-size: 58.33333%;
    -webkit-flex-basis: calc(58.33333% - 0px);
    flex-basis: calc(58.33333% - 0px); }

  .column-8-md {
    -ms-flex-preferred-size: 66.66667%;
    -webkit-flex-basis: calc(66.66667% - 0px);
    flex-basis: calc(66.66667% - 0px); }

  .column-9-md {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: calc(75% - 0px);
    flex-basis: calc(75% - 0px); }

  .column-10-md {
    -ms-flex-preferred-size: 83.33333%;
    -webkit-flex-basis: calc(83.33333% - 0px);
    flex-basis: calc(83.33333% - 0px); }

  .column-11-md {
    -ms-flex-preferred-size: 91.66667%;
    -webkit-flex-basis: calc(91.66667% - 0px);
    flex-basis: calc(91.66667% - 0px); }

  .column-12-md {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: calc(100% - 0px);
    flex-basis: calc(100% - 0px); }

  .offset-1-md {
    margin-left: calc(8.33333% + 0px); }

  .offset-2-md {
    margin-left: calc(16.66667% + 0px); }

  .offset-3-md {
    margin-left: calc(25% + 0px); }

  .offset-4-md {
    margin-left: calc(33.33333% + 0px); }

  .offset-5-md {
    margin-left: calc(41.66667% + 0px); }

  .offset-6-md {
    margin-left: calc(50% + 0px); }

  .offset-7-md {
    margin-left: calc(58.33333% + 0px); }

  .offset-8-md {
    margin-left: calc(66.66667% + 0px); }

  .offset-9-md {
    margin-left: calc(75% + 0px); }

  .offset-10-md {
    margin-left: calc(83.33333% + 0px); }

  .offset-11-md {
    margin-left: calc(91.66667% + 0px); }

  .justify-flex-start-md {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start; }

  .justify-center-md {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }

  .justify-flex-end-md {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end; }

  .justify-space-around-md {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around; }

  .justify-space-between-md {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }

  .align-flex-start-md {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start; }

  .align-center-md {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }

  .align-flex-end-md {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end; }

  .column-auto-md {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1; }

  .order-first-md {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1; }

  .order-last-md {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; } }
@media only screen and (min-width: 64em) {
  .column-1-lg {
    -ms-flex-preferred-size: 8.33333%;
    -webkit-flex-basis: calc(8.33333% - 0px);
    flex-basis: calc(8.33333% - 0px); }

  .column-2-lg {
    -ms-flex-preferred-size: 16.66667%;
    -webkit-flex-basis: calc(16.66667% - 0px);
    flex-basis: calc(16.66667% - 0px); }

  .column-3-lg {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: calc(25% - 0px);
    flex-basis: calc(25% - 0px); }

  .column-4-lg {
    -ms-flex-preferred-size: 33.33333%;
    -webkit-flex-basis: calc(33.33333% - 0px);
    flex-basis: calc(33.33333% - 0px); }

  .column-5-lg {
    -ms-flex-preferred-size: 41.66667%;
    -webkit-flex-basis: calc(41.66667% - 0px);
    flex-basis: calc(41.66667% - 0px); }

  .column-6-lg {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: calc(50% - 0px);
    flex-basis: calc(50% - 0px); }

  .column-7-lg {
    -ms-flex-preferred-size: 58.33333%;
    -webkit-flex-basis: calc(58.33333% - 0px);
    flex-basis: calc(58.33333% - 0px); }

  .column-8-lg {
    -ms-flex-preferred-size: 66.66667%;
    -webkit-flex-basis: calc(66.66667% - 0px);
    flex-basis: calc(66.66667% - 0px); }

  .column-9-lg {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: calc(75% - 0px);
    flex-basis: calc(75% - 0px); }

  .column-10-lg {
    -ms-flex-preferred-size: 83.33333%;
    -webkit-flex-basis: calc(83.33333% - 0px);
    flex-basis: calc(83.33333% - 0px); }

  .column-11-lg {
    -ms-flex-preferred-size: 91.66667%;
    -webkit-flex-basis: calc(91.66667% - 0px);
    flex-basis: calc(91.66667% - 0px); }

  .column-12-lg {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: calc(100% - 0px);
    flex-basis: calc(100% - 0px); }

  .offset-1-lg {
    margin-left: calc(8.33333% + 0px); }

  .offset-2-lg {
    margin-left: calc(16.66667% + 0px); }

  .offset-3-lg {
    margin-left: calc(25% + 0px); }

  .offset-4-lg {
    margin-left: calc(33.33333% + 0px); }

  .offset-5-lg {
    margin-left: calc(41.66667% + 0px); }

  .offset-6-lg {
    margin-left: calc(50% + 0px); }

  .offset-7-lg {
    margin-left: calc(58.33333% + 0px); }

  .offset-8-lg {
    margin-left: calc(66.66667% + 0px); }

  .offset-9-lg {
    margin-left: calc(75% + 0px); }

  .offset-10-lg {
    margin-left: calc(83.33333% + 0px); }

  .offset-11-lg {
    margin-left: calc(91.66667% + 0px); }

  .justify-flex-start-lg {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start; }

  .justify-center-lg {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }

  .justify-flex-end-lg {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end; }

  .justify-space-around-lg {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around; }

  .justify-space-between-lg {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }

  .align-flex-start-lg {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start; }

  .align-center-lg {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }

  .align-flex-end-lg {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end; }

  .column-auto-lg {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1; }

  .order-first-lg {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1; }

  .order-last-lg {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; } }
@media only screen and (min-width: 80em) {
  .column-1-xl {
    -ms-flex-preferred-size: 8.33333%;
    -webkit-flex-basis: calc(8.33333% - 0px);
    flex-basis: calc(8.33333% - 0px); }

  .column-2-xl {
    -ms-flex-preferred-size: 16.66667%;
    -webkit-flex-basis: calc(16.66667% - 0px);
    flex-basis: calc(16.66667% - 0px); }

  .column-3-xl {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: calc(25% - 0px);
    flex-basis: calc(25% - 0px); }

  .column-4-xl {
    -ms-flex-preferred-size: 33.33333%;
    -webkit-flex-basis: calc(33.33333% - 0px);
    flex-basis: calc(33.33333% - 0px); }

  .column-5-xl {
    -ms-flex-preferred-size: 41.66667%;
    -webkit-flex-basis: calc(41.66667% - 0px);
    flex-basis: calc(41.66667% - 0px); }

  .column-6-xl {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: calc(50% - 0px);
    flex-basis: calc(50% - 0px); }

  .column-7-xl {
    -ms-flex-preferred-size: 58.33333%;
    -webkit-flex-basis: calc(58.33333% - 0px);
    flex-basis: calc(58.33333% - 0px); }

  .column-8-xl {
    -ms-flex-preferred-size: 66.66667%;
    -webkit-flex-basis: calc(66.66667% - 0px);
    flex-basis: calc(66.66667% - 0px); }

  .column-9-xl {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: calc(75% - 0px);
    flex-basis: calc(75% - 0px); }

  .column-10-xl {
    -ms-flex-preferred-size: 83.33333%;
    -webkit-flex-basis: calc(83.33333% - 0px);
    flex-basis: calc(83.33333% - 0px); }

  .column-11-xl {
    -ms-flex-preferred-size: 91.66667%;
    -webkit-flex-basis: calc(91.66667% - 0px);
    flex-basis: calc(91.66667% - 0px); }

  .column-12-xl {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: calc(100% - 0px);
    flex-basis: calc(100% - 0px); }

  .offset-1-xl {
    margin-left: calc(8.33333% + 0px); }

  .offset-2-xl {
    margin-left: calc(16.66667% + 0px); }

  .offset-3-xl {
    margin-left: calc(25% + 0px); }

  .offset-4-xl {
    margin-left: calc(33.33333% + 0px); }

  .offset-5-xl {
    margin-left: calc(41.66667% + 0px); }

  .offset-6-xl {
    margin-left: calc(50% + 0px); }

  .offset-7-xl {
    margin-left: calc(58.33333% + 0px); }

  .offset-8-xl {
    margin-left: calc(66.66667% + 0px); }

  .offset-9-xl {
    margin-left: calc(75% + 0px); }

  .offset-10-xl {
    margin-left: calc(83.33333% + 0px); }

  .offset-11-xl {
    margin-left: calc(91.66667% + 0px); }

  .justify-flex-start-xl {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start; }

  .justify-center-xl {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }

  .justify-flex-end-xl {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end; }

  .justify-space-around-xl {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around; }

  .justify-space-between-xl {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }

  .align-flex-start-xl {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start; }

  .align-center-xl {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }

  .align-flex-end-xl {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end; }

  .column-auto-xl {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1; }

  .order-first-xl {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1; }

  .order-last-xl {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; } }
