@import "compass";
@import "mixins-flexbox";

///////////////////////
// Variables
///////////////////////
$render-classes: true !default;
$wrap-grid-items: false !default;
$oldie-support: false !default;

// Used to calculate viewport min-width for Media Queries
$fb-grid-font-size: 16px;

// Calculate viewport min-width for Media Queries
$width-sm: 480px !default;
$width-md: 768px !default;
$width-lg: 1024px !default;
$width-xl: 1280px !default;


// Grid Config
$grid-columns : 12 !default; // Number of columns in grid
$grid-width : 100% !default; // Percentage of container width
$grid-margin : 0px !default;
$grid-margin-ie : 0 !default;
$grid-padding : 1rem !default;
$viewport-sm: $width-sm / $fb-grid-font-size !default;
$viewport-md: $width-md / $fb-grid-font-size !default;
$viewport-lg: $width-lg / $fb-grid-font-size !default;
$viewport-xl: $width-xl / $fb-grid-font-size !default;

// Lists
$justify: flex-start center flex-end space-around space-between;
$align: flex-start center flex-end;


///////////////////////
// Mixin Extensions
///////////////////////
@mixin all-columns-offsets {
    @include display-flex();
    @include flex-direction(column);
    @include flex-grow(0);
    @include flex-shrink(0);
}

@mixin grid-row {
    @include display-flex();
    @include flex-direction(row);
    @if( $wrap-grid-items ) {
        @include flex-wrap(wrap);
    }
}
@mixin grid-column {
    @include display-flex();
    @include flex-direction(column);
    @if( $wrap-grid-items ) {
        @include flex-wrap(wrap);
    }
}
@mixin grid-wrap {
    @include flex-wrap(wrap);
}
@mixin grid-padding {
    padding: $grid-padding;
}

@mixin row-reverse {
    @include flex-direction(row-reverse);
    @include flex-wrap(row-reverse);
}
@mixin column-reverse {
    @include flex-direction(column-reverse);
    @include flex-wrap(column-reverse);
}

@mixin column-auto {
    @include flex-grow(1);
    @include flex-basis(0%);
    @include flex(1);
}

@mixin justify($type) {
    @include justify-content($type);
}

@mixin align($type) {
    @include align-items($type);
}

@mixin order-first {
    @include order(-1);
}
@mixin order-last {
    @include order(1);
}

@mixin column-span($column-span) {
    $total-col-width: ($grid-width / $grid-columns) * $column-span;
    $col-width: calc(#{$total-col-width} - #{$grid-margin});
    $col-width-ie: $total-col-width - $grid-margin-ie;

    -ms-flex-preferred-size: $col-width-ie; // calc() doesn't work here. Using margin as percentage workaround for now. Boo IE. :(
    @include flex-basis($col-width);

    @if $render-classes == false {
        @include all-columns-offsets;
    }

    @if $oldie-support == true {
        width: $col-width-ie;
        margin: 0 0 $grid-margin-ie;
        margin-right: $grid-margin-ie;
        float: left;
    }
}

@mixin offset-span($offset-span) {
    $total-col-width    : ($grid-width / $grid-columns) * $offset-span;
    $col-width          : calc(#{$total-col-width} + #{$grid-margin});

    margin-left: $col-width;

    @if $render-classes == false {
        @include all-columns-offsets;
    }
}

@if $oldie-support == true {
    ul.grid-row {
        // margin: 0;
        // padding: 0;

        [class^="column"] {
            float: none !important;
            display: inline-block !important;
        }
    }
}

@mixin sticky-footer-push {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


@if $render-classes == true {
    .grid-row {
        margin-right: -$grid-margin;
        @include display-flex();
        @include flex-direction(row);
        @if( $wrap-grid-items ) {
            @include flex-wrap(wrap);
        }

        @if $oldie-support == true {
            margin-right: -$flexgrid-margin-ie;
            @include clearfix;
        }
    }
    .grid-column {
        margin-right: -$grid-margin;
        @include display-flex();
        @include flex-direction(column);
        @if( $wrap-grid-items ) {
            @include flex-wrap(wrap);
        }

        @if $oldie-support == true {
            @include clearfix;
        }
    }
    @if( $wrap-grid-items == false ) {
        .grid-wrap {
            @include flex-wrap(wrap);
        }
    }
    .grid-padding {
        padding: $grid-padding;
    }

    .row-reverse {
        @include flex-direction(row-reverse);
        @include flex-wrap(row-reverse);
    }
    .column-reverse {
        @include flex-direction(column-reverse);
        @include flex-wrap(column-reverse);
    }

    [class^="column"],
    [class^="offset"] {
        // @include display-flex();
        // @include flex-direction(column);
        // @include flex-grow(0);
        // @include flex-shrink(0);
        margin-right: $grid-margin;
    }

    .column-auto-sm,
    .column-auto-md,
    .column-auto-lg,
    .column-auto-xl {
        @include flex-grow(1);
        @include flex-basis(0%);
    }

    .sticky-footer-push {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    ////////////////////////
    // Small
    ////////////////////////

    @for $i from 1 through $grid-columns {
        .column-#{$i}-sm {
            @include column-span($i);
        }
    }
    @for $i from 1 through $grid-columns - 1 {
        .offset-#{$i}-sm {
            @include offset-span($i);
        }
    }

    @each $type in $justify {
        .justify-#{$type}-sm {
            @include justify-content($type);
        }
    }
    @each $type in $align {
        .align-#{$type}-sm {
            @include align-items($type);
        }
    }

    .column-auto-sm {
        @include flex(1);
    }
    .order-first-sm {
        @include order(-1);
    }
    .order-last-sm {
        @include order(1);
    }


    ////////////////////////
    // Medium
    ////////////////////////

    @media only screen and (min-width: $viewport-md + em) {

        @for $i from 1 through $grid-columns {
            .column-#{$i}-md {
                @include column-span($i);
            }
        }
        @for $i from 1 through $grid-columns - 1 {
            .offset-#{$i}-md {
                @include offset-span($i);
            }
        }

        @each $type in $justify {
            .justify-#{$type}-md {
                @include justify-content($type);
            }
        }
        @each $type in $align {
            .align-#{$type}-md {
                @include align-items($type);
            }
        }

        .column-auto-md {
            @include flex(1);
        }
        .order-first-md {
            @include order(-1);
        }
        .order-last-md {
            @include order(1);
        }

    }

    ////////////////////////
    // Large
    ////////////////////////

    @media only screen and (min-width: $viewport-lg + em) {

        @for $i from 1 through $grid-columns {
            .column-#{$i}-lg {
                @include column-span($i);
            }
        }
        @for $i from 1 through $grid-columns - 1 {
            .offset-#{$i}-lg {
                @include offset-span($i);
            }
        }

        @each $type in $justify {
            .justify-#{$type}-lg {
                @include justify-content($type);
            }
        }
        @each $type in $align {
            .align-#{$type}-lg {
                @include align-items($type);
            }
        }

        .column-auto-lg {
            @include flex(1);
        }
        .order-first-lg {
            @include order(-1);
        }
        .order-last-lg {
            @include order(1);
        }

    }

    ////////////////////////
    // X-Large
    ////////////////////////
    @media only screen and (min-width: $viewport-xl + em) {

        @for $i from 1 through $grid-columns {
            .column-#{$i}-xl {
                @include column-span($i);
            }
        }
        @for $i from 1 through $grid-columns - 1 {
            .offset-#{$i}-xl {
                @include offset-span($i);
            }
        }

        @each $type in $justify {
            .justify-#{$type}-xl {
                @include justify-content($type);
            }
        }
        @each $type in $align {
            .align-#{$type}-xl {
                @include align-items($type);
            }
        }

        .column-auto-xl {
            @include flex(1);
        }
        .order-first-xl {
            @include order(-1);
        }
        .order-last-xl {
            @include order(1);
        }

    }
}
