@import "compass";
@import "mixins-flexbox";
@import "variables";

///////////////////////
// Variables
///////////////////////
$fb-grid-render-classes: true !default;
$fb-grid-wrap-grid-items: true !default;
$fb-grid-oldie-support: false !default;

// Used to calculate viewport min-width for Media Queries
$fb-grid-font-size: 16px;

// Grid Config
$fb-grid-columns : 12 !default; // Number of columns in grid
$fb-grid-width : 100% !default; // Percentage of container width
$fb-grid-padding: 0 !default;

// Media Grid Config
$is-fb-media-grid: false !default;
$fb-media-grid-columns: $fb-grid-columns !default; // Number of columns per row in grid
$fb-grid-margin: 0px !default;
$fb-grid-margin-ie: 0 !default;

// Calculate viewport min-width for Media Queries
$fb-grid-width-sm: 480px !default;
$fb-grid-width-md: 768px !default;
$fb-grid-width-lg: 1024px !default;
$fb-grid-width-xl: 1280px !default;

$fb-grid-viewport-sm: $fb-grid-width-sm / $fb-grid-font-size !default;
$fb-grid-viewport-md: $fb-grid-width-md / $fb-grid-font-size !default;
$fb-grid-viewport-lg: $fb-grid-width-lg / $fb-grid-font-size !default;
$fb-grid-viewport-xl: $fb-grid-width-xl / $fb-grid-font-size !default;

// Lists
$justify: flex-start center flex-end space-around space-between;
$align: flex-start center flex-end;


///////////////////////
// Mixin Extensions
///////////////////////
@mixin all-columns-offsets {
    @include display-flex();
    @include flex-direction(column);
    @include flex-grow(0);
    @include flex-shrink(0);
}

@mixin grid-row {
    @include display-flex();
    @include flex-direction(row);

    @if( $fb-grid-wrap-grid-items ) {
        @include flex-wrap(wrap);
    }

    @if $fb-grid-oldie-support == true {
        margin-right: -$flexgrid-margin-ie;
        @include clearfix;
    }
}
@mixin grid-column {
    @include display-flex();
    @include flex-direction(column);

    @if $fb-grid-oldie-support == true {
        @include clearfix;
    }
}
@mixin media-grid-row {
    @include display-flex();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    margin-left: -$fb-grid-margin;

    @if $fb-grid-oldie-support == true {
        margin-left: -$flexgrid-margin-ie;
        @include clearfix;
    }
}
@mixin grid-wrap {
    @include flex-wrap(wrap);
}
@mixin grid-padding {
    padding: $fb-grid-padding;
}

@mixin row-reverse {
    @include flex-direction(row-reverse);
    @include flex-wrap(row-reverse);
}
@mixin column-reverse {
    @include flex-direction(column-reverse);
    @include flex-wrap(column-reverse);
}

@mixin column-auto {
    @include flex-grow(1);
    @include flex-basis(0%);
    @include flex(1);
}

@mixin justify($type) {
    @include justify-content($type);
}

@mixin align($type) {
    @include align-items($type);
}

@mixin order-first {
    @include order(-1);
}
@mixin order-last {
    @include order(1);
}

@mixin column-span($column-span) {
    $total-col-width: ($fb-grid-width / $fb-grid-columns) * $column-span;
    $col-width: $total-col-width;

    -ms-flex-preferred-size: $col-width;
    @include flex-basis($col-width);

    @if $fb-grid-render-classes == false {
        @include all-columns-offsets;
    }

    @if $fb-grid-oldie-support == true {
        width: $col-width-ie;
        float: left;
    }
}

@mixin offset-span($offset-span) {
    $total-col-width    : ($fb-grid-width / $fb-grid-columns) * $offset-span;
    $col-width          : calc(#{$total-col-width});

    margin-left: $col-width;

    @if $fb-grid-render-classes == false {
        @include all-columns-offsets;
    }
}

@mixin media-column-span($column-span) {
    $total-col-width: ($fb-grid-width / $fb-grid-columns) * $column-span;
    $col-width: calc(#{$total-col-width} - #{$fb-grid-margin});
    $col-width-ie: $total-col-width - $fb-grid-margin-ie;

    -ms-flex-preferred-size: $col-width-ie; // calc() doesn't work here. Using margin as percentage workaround for now. Boo IE. :(
    @include flex-basis($col-width);

    @if $fb-grid-render-classes == false {
        @include all-columns-offsets;
    }

    margin-left: $fb-grid-margin;

    @if $fb-grid-oldie-support == true {
        width: $col-width-ie;
        margin: 0 0 $fb-grid-margin-ie;
        margin-left: $fb-grid-margin-ie;
        float: left;
    }
}

@if $fb-grid-oldie-support == true {
    ul.grid-row {
        [class^="column"] {
            float: none !important;
            display: inline-block !important;
        }
    }
}

@mixin sticky-footer-wrapper {
    @include display-flex();
    @include flex-direction(column);
    min-height: 100vh;
}
@mixin sticky-footer-content {
    @include flex(1);
}
