///////////////////////
// Variables
///////////////////////
// $render-classes: false;
// $wrap-grid-items: false;
// $oldie-support: true;

// Used to calculate viewport min-width for Media Queries
// $grid-font-size: 16px; // Pass your base font size to this variable

// Grid Config
// $grid-columns : 12; // Number of columns in grid
// $grid-width : 100%; // Percentage of container width
// $fb-grid-padding: 0 !default;

// Media Grid Config
$is-fb-media-grid: true;
$fb-grid-margin : 12px;
$fb-grid-margin-ie : 0;

// Calculate viewport min-width for Media Queries
// $width-sm: 480px;
// $width-md: 768px;
// $width-lg: 1024px;
// $width-xl: 1280px;
