///////////////////////
// Variables
///////////////////////
$render-classes: true;
$wrap-grid-items: true;

// Used to calculate viewport min-width for Media Queries
$base-font-size: 16px;

// Calculate viewport min-width for Media Queries

$width-sm: 480px;
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1280px;

// Grid Config
$grid-columns : 12; // Number of columns in grid
$grid-width : 100%; // Percentage of container width
$grid-margin : 16px; // Grid cell margin. Must have unit even if 0 or calc() poops.
$grid-padding : 1rem;
