///////////////////////
// Variables
///////////////////////
// $fb-grid-render-classes: false;
// $fb-grid-wrap-grid-items: false;
// $fb-grid-oldie-support: true;

// Used to calculate viewport min-width for Media Queries
// $fb-grid-font-size: 16px; // Pass your base font size to this variable

// Grid Config
// $fb-grid-columns: 12; // Number of columns in grid
// $fb-grid-width: 100%; // Percentage of container width
// $fb-grid-padding: 0;

// Media Grid Config
$is-fb-media-grid: true;
// $fb-media-grid-columns: $fb-grid-columns; // Number of columns per row in grid, default: 12
$fb-grid-margin: 12px;
$fb-grid-margin-ie: 0;

// Calculate viewport min-width for Media Queries
// $fb-grid-width-sm: 480px;
// $fb-grid-width-md: 768px;
// $fb-grid-width-lg: 1024px;
// $fb-grid-width-xl: 1280px;
