@import "framework";

$primary-color: #40dfcb;

* {
	@include box-sizing(border-box);
}

body {
	margin: 0;
	padding: 0;
	font-family: "Droid Serif", "Helvetica Neue", sans-serif;
	color: #333;
}
header, footer, main, section, aside {
	display: block;
}
h1, h3 {
	margin: 0 0 1em;
}
h1 {
	font-size: 1.5em;
}
h2 {
	font-size: 1.125em;
	margin: 2em 0 1em;
	color: #666;
}
a {
	padding: 0.25em 0.5em;
	color: $primary-color;
	text-decoration: none;
	background-color: lighten($primary-color, 40);
}
li {
	font-family: sans-serif;
	code {
		font-size: 1.25em;
		color: black;
	}
}
.example-content,
footer {
	width: 100%;
	max-width: 64em;
	margin: 0 auto;
}

.example-grid-wrapper,
.example-sidebar,
footer {
	padding: 1em;
}
.example-grid-wrapper {
	margin-bottom: 2em;
	background-color: #f4f4f4;
}
.example-sidebar {
	a {
		display: block;
	}

	div {
		margin-bottom: 2em;
	}
}

footer {
	background-color: black;
}
[class^="column"],
[class^="media-column"],
[class^="offset"] {
	background-color: $primary-color;
	text-align: center;
	font-family: monospace;
	word-wrap: break-word; /* Oh Firefox */

	&:nth-child(odd) {
		background-color: lighten($primary-color, 20);
	}
}

[class^="grid"],
[class^="grid"] + [class^="grid"],
[class^="media-column"] {
	margin-bottom: $fb-grid-margin;
}

[class^="grid"] [class^="grid"] {
	margin-bottom: 0;
}

@media only screen and (min-width: $fb-grid-viewport-sm + em) {
	.example-sidebar {
		@include flex(1);
	}
	.example-content {
		@include flex(4);
	}
}
